$primary-Color: #f64b3c;
$secondary-Color: #f6eedf;
$accent-Color: #ffffff;
$my-navBar: "Poppins", sans-serif;
$my-Fonts: "Archivo", sans-serif;
$my-paragrahFonts: "Nunito", sans-serif;
$my-overlayFonts: "Calistoga", cursive;
$bg-button: #f64b3c;
$button-fonts: "Montserrat", sans-serif;
